
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  /*filter: brightness(.6);*/
  min-height: 100vh;
}
.container{
  background-color: rgba(20,20,20,.8);
  color: white;
  width: 250px;
  height: 60%;
  padding: 3rem;
  position: absolute;
  top: 5.5rem;
  left: 32rem;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.9);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.input{
  border: none;
  outline: none;
  width: 200px;
  height: 30px;
  text-align: center;
}
.btn{
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 10px;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
.btn:hover{
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
  color:white;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.weather{
  text-align: center;
}
.container:hover{
  transform: scale(1.1);
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
